:host {
	--ion-brand-icon: light-dark(var(--ion-color-primary), #fff);

	--ion-context-menu-divider: light-dark(
		var(--ion-color-cool-grey-c3),
		var(--ion-color-cool-grey-c5)
	);
	--ion-context-menu-title-background: light-dark(
		var(--ion-color-blue-b2),
		var(--ion-color-cool-grey-c7)
	);
	--ion-context-menu-item-default: --ion-color-secondary-background-hover:
		var(--ion-color-blue-b1);
	--ion-color-secondary-background-active: var(--ion-color-blue-b2);

	--ion-shadow-header: 0px 2px 8px 0px rgba(113, 128, 149, 0.5);
	--ion-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}
