:root {
	--ion-color-main-background: var(--color-main-background, #fff);
	--ion-color-primary:  var(--color-primary, rgba(0, 61, 143, 1));
	--ion-color-secondary: rgba(0, 27, 65, 1);
	--ion-color-blue-b1: rgba(219, 237, 248, 1);
	--ion-color-blue-b2: rgba(149, 202, 235, 1);
	--ion-color-blue-b4: rgba(20, 116, 196, 1);
	--ion-color-cool-grey-c2: rgba(219, 226, 232, 1);
	--ion-color-cool-grey-c3: rgba(188, 200, 212, 1);
	--ion-color-typo-mild: rgba(46, 67, 96, 1);
	--ion-color-lightgray: rgba(215, 215, 215, 1);
}